
       <!-- #Left Sidebar ==================== -->
       <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="{% url 'dashboard' %}">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="assets/static/images/logo.png" alt="">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">Adminator</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="{% url 'dashboard' %}">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Dashboard</span>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="sidebar-link" href="{% url 'general-chat' %}">
                <span class="icon-holder">
                  <i class="c-deep-purple-500 ti-comment-alt"></i>
                </span>
                <span class="title">General Chat</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="{% url 'science-chat' %}">
                <span class="icon-holder">
                  <i class="c-deep-purple-500 ti-magnet"></i>
                </span>
                <span class="title">Science Chat</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="{% url 'law-chat' %}">
                <span class="icon-holder">
                  <i class="c-deep-purple-500 ti-book"></i>
                </span>
                <span class="title">Law Chat</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="{% url 'uploads' %}">
                <span class="icon-holder">
                  <i class="c-deep-purple-500 ti-upload"></i>
                </span>
                <span class="title">Uploads</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
