{% extends "userapp/base.html" %}

{% load static %}
{% block extrasheet%}
{%endblock%}
{% block main %}
<div class="py-4">
  

    <div class="container mt-5">
        <h1 class="mb-4">How to Use the Application</h1>
    
        <div class="row">
          <!-- Sidemenu: Science -->
          <div class="col-lg-4">
            <h2>Science Chat</h2>
            <ul class="list-group mb-3">
              <li class="list-group-item">Free Mode: Query all documents related to science.</li>
              <li class="list-group-item">Detailed Mode: Query only the selected papers in science.</li>
            </ul>
          </div>
    
          <!-- Sidemenu: Law -->
          <div class="col-lg-4">
            <h2>Law Chat</h2>
            <ul class="list-group mb-3">
              <li class="list-group-item">Free Mode: Query all documents related to law.</li>
              <li class="list-group-item">Detailed Mode: Query only the selected papers in law.</li>
            </ul>
          </div>
    
          <!-- Sidemenu: General Chat -->
          <div class="col-lg-4">
            <h2>General Chat</h2>
            <ul class="list-group mb-3">
              <li class="list-group-item">Free Mode: Query all documents related to general topics.</li>
              <li class="list-group-item">Detailed Mode: Query only the selected papers in general topics.</li>
            </ul>
          </div>

        </div>

        <div class="text-center mt-5">
            <a href="https://github.com/qobbysam/docschat/blob/main/README.md" class="btn btn-primary">Read the README on GitHub</a>
          </div>
      
      </div>
    





{% endblock %}


{% block extra_scripts %}
<script>
    // Function to toggle the sidebar collapse
    function toggleSidebar() {
      const sidebarMenu = document.getElementById('sidebarMenu');
      sidebarMenu.classList.toggle('collapse');
    }
  </script>

                        

{% endblock extra_scripts %}