{% extends "userapp/base.html" %}

{% load static %}
{% block extrasheet%}
{%endblock%}
{% block main %}
<div class="py-4">
  


                            <div id="uploadapp"> </div>



{% endblock %}


{% block extra_scripts %}
<script>
    // Function to toggle the sidebar collapse
    function toggleSidebar() {
      const sidebarMenu = document.getElementById('sidebarMenu');
      sidebarMenu.classList.toggle('collapse');
    }
  </script>
  
  <script src="{% static 'assets/upload.bundle.js' %}"></script>

{% endblock extra_scripts %}