<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGNL | Generate Report</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
  </head>
  <body class="dashboard-body">
    <nav>
      <div class="nav-item">
        <a href="/" class="logo-link">
          <div class="logo-container-left">
            <img
              class="logo"
              src="{% static 'images/logotemp.png' %}"
              alt="Logo"
            />
          </div>
        </a>
        <div class="nav-pagetxt-left">| Generate Report</div>
      </div>
      <div class="nav-btn-container-centered">
        <a href="{% url 'dashboard' %}"
          ><button class="navbtn text-btn simple-bordered">
            Go Back to Dashboard
          </button></a
        >
      </div>
      <div class="nav-btn-container">
        <div class="user-profile">
          <div class="user-profile-icon skeleton" id="user-icon">
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="user-profile-username skeleton">
            <span>{{ username }}</span>
            <br />
            <span class="company-name">{{ company_name }}</span>
          </div>
        </div>
        <a href="{% url 'account_login' %}" class="navbtn text-btn simple-bordered">Log out</a>
      </div>
    </nav>
    <div class="generate-banner">
      <h3 class="generate-banner-text white">
        Generate a detailed scientific report on a relevant topic based on your
        uploaded papers. Automatically generate citations upon completion.
      </h3>
    </div>
    <div class="page-container">
      <div class="generate-split-container">
        <div class="generate-split-item">
          <h3 class="generate-header skeleton">Enter a Review Topic</h3>

          <form id="reportForm" method="post" action="{% url 'generate' %}">
            {% csrf_token %}
            <div id="section1" class="generate-form-container">
              {{ form.topic.label_tag }} {{ form.topic }}
              <p class="dashboard-text">Enter a topic.</p>
            </div>
            <div id="section2" class="generate-form-container">
              {{ form.numsections.label_tag }} {{ form.numsections }}
              <p class="dashboard-text">
                Enter the number of sections to generate.
              </p>
            </div>
            <div id="section3" class="generate-form-container">
              {{ form.layers.label_tag }} {{ form.layers }}
              <p class="dashboard-text">
                A layer is a complexity score that is assigned to each section
                as it is generated.
              </p>
            </div>
            <button
              type="button"
              id="continueFinal"
              class="cirbtn cirbtn-large-hollow text-btn"
            >
              Generate Report
            </button>
            <div id="successMessage" style="display: none">
              <p>The report is ready.</p>
              <button
                type="button"
                id="openPdfButton"
                style="display: none"
                class="cirbtn cirbtn-large-hollow text-btn"
              >
                Open PDF
              </button>
            </div>
          </form>

          <div id="pdfButtonContainer" style="display: none"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'scripts/hashColor.js' %}"></script>
  <script src="{% static 'scripts/generate.js' %}"></script>
  <script src="{% static 'scripts/registrationFuncs.js' %}"></script>
  <script src="{% static 'scripts/skeletonLoader.js' %}"></script>
</html>
